.about(style="background-image: url(./img/about-background.webp)")
    .container.c-container
        .row
            .col-12.col-md-5
                .about__content
                    .about__title
                        h2 О компании <b>Щелканинвест</b>
                    .about__desc
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent
                        p Per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
                    .about__link
                        +link-button("Подробнее", "#")
            .col-12.col-md-7
                .about__image
                    .about__image-content
                        img(src="./img/about__image.webp", alt="")
                    .about__image-block
                    .about__leaf-1
                        img(src="./img/about__leaf-2.webp", alt="")
    .about__leaf-2
        img(src="./img/about__leaf-1.webp", alt="")