.advantages
    .container.c-container
        .row
            .col-12
                .advantages__title
                    h2 Преимущества <b>ООО&nbsp;Щелканинвест</b>
            .col-12
                .advantages__cards 
                    .advantages__cards-grid
                        .advantages__card.advantages__card--1
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Собственное <br>производство
                                .advantages__card-text
                                    p Выращиваем нут — наши агрономы учитывают особенности климата и почвы в каждом регионе, чтобы получить максимальный урожай.
                            .advantages__card-image
                                img(src="./img/advantages-1.svg", alt="")
                        .advantages__card.advantages__card--2
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Профессионализм <br>и помощь 
                                .advantages__card-text
                                    p Мы  всегда на связи: от подбора сорта до консультаций по технологиям выращивания и сбора урожая.
                            .advantages__card-image
                                img(src="./img/advantages-2.svg", alt="")
                        .advantages__card.advantages__card--3
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Разнообразие <br>сортов нута
                                .advantages__card-text
                                    p От классических калибров до крупноплодных вариантов — под любые нужды.
                            .advantages__card-image
                                img(src="./img/advantages-3.svg", alt="")
                        .advantages__card.advantages__card--4
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Лучшее качество
                                .advantages__card-text
                                    p Семена проходят строгий контроль автора сортов и имеют все необходимые сертификаты соответствия.
                            .advantages__card-image
                                img(src="./img/advantages-4.svg", alt="")
                        .advantages__card.advantages__card--5
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Совместная работа <br>с селекционерами
                                .advantages__card-text
                                    p Участвуем в выведении новых перспективных сортов нута.
                            .advantages__card-image
                                img(src="./img/advantages-5.svg", alt="")
                        .advantages__card.advantages__card--6
                            .advantages__card-content
                                .advantages__card-name
                                    h3 Технологическое <br>преимущество
                                .advantages__card-text
                                    p Предлагаемые сорта имеют однозначное превосходство в  урожайности, уборке, хранении и транспортировке.
                            .advantages__card-image
                                img(src="./img/advantages-6.svg", alt="")
                    .advantages__cards-natures
                        .advantages__cards-tree
                            img(src="./img/tree.svg", alt="")
                        .advantages__cards-leafs
                            .advantages__cards-leaf.advantages__cards-leaf--left
                                img(src="./img/advantages-leaf.svg", alt="")
                            .advantages__cards-leaf.advantages__cards-leaf--right
                                img(src="./img/advantages-leaf.svg", alt="")