// Commissioner Font Face
@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Thin.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-ExtraLight.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-ExtraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Light.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Regular.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Medium.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-SemiBold.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Bold.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-ExtraBold.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("/fonts/Commissioner/Commissioner-Black.ttf") format("truetype"),
    url("/local/templates/shelkaninvest/assets/fonts/Commissioner/Commissioner-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
