@import "../service/media-mixin.scss";

.p-catalog {
  &__description {
    margin-bottom: 20px;
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
  .our-products__cards {
    padding-top: 40px;
    padding-bottom: 58px;
    @include max-md {
      padding: 0;
    }
  }
}
