.catalog-detail {
  &__slider {
    .swiper-slide {
      height: 448px;
      overflow: hidden;
      border-radius: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-controls {
      display: flex;
      justify-content: space-between;
      @include max-lg {
        justify-content: center;
        height: 28px;
      }
    }
    &-arrows {
      display: flex;
      gap: 13px;
      padding-left: 29px;
      @include max-lg {
        display: none;
      }
    }
    &-arrow {
      padding: 8px;
      color: rgba(12, 37, 73, 1);
      &-icon {
        width: 24px;
        height: 24px;
      }
      &--prev {
        .catalog-detail__slider-arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
    &-pagination {
      display: flex;
      align-items: center;
      .swiper-pagination {
        position: relative;
        transform: unset;
        transition: opacity 0.3s;
        z-index: 0;
      }
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: unset;
      }
      .swiper-pagination-bullet {
        margin: 0 6px;
        background: rgba(77, 146, 21, 1);
      }
      .swiper-pagination-bullet-active {
        background: rgba(77, 146, 21, 1);
      }
    }
  }
}
