.p-catalog-detail-1 {
  padding-top: 18px;
  @include max-lg {
    padding-top: 0;
  }
  &__top {
    padding-bottom: 60px;
    @include max-lg {
      padding-bottom: 9px;
    }
    &-row {
      @include max-lg {
        gap: 20px;

        margin-right: calc(-1 * var(--bs-gutter-x));
        margin-left: calc(-1 * var(--bs-gutter-x));
      }
    }
  }
  &__bottom {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
    @include max-lg {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-row {
      @include max-xl {
        gap: 20px;
      }
    }
  }
  &__content {
    &-title {
      margin-bottom: 20px;
      @include max-lg {
        margin-bottom: 10px;
      }
      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0%;
        text-transform: uppercase;
        @include max-lg {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    &-description {
      p {
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0%;
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
        @include max-lg {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  &__card {
    background-color: #fff;
    box-shadow: 0 12px 15px -8px rgba(82, 86, 54, 0.35);
    border-radius: 20px;
    padding: 33px 40px 30px 40px;
    @include max-xl {
      padding: 20px 16px;
    }
    &-title {
      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0%;
        @include max-xl {
          font-size: 32px;
          line-height: 39px;
        }
      }
    }
    &-props {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 20px 0;
      border-bottom: 1px solid rgba(134, 155, 71, 0.3);
      @include max-lg {
        padding: 10px 0;
      }
      &-col {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
    &-prop {
      color: rgba(12, 37, 73, 1);
      &-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
      }
      &-value {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0%;
        text-transform: uppercase;
        @include max-xl {
          font-size: 20px;
          line-height: 24px;
        }
      }
      &--itog {
        color: rgba(77, 146, 21, 1);
      }
    }
    &-info {
      padding-top: 11px;
      display: flex;
      justify-content: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
      color: rgba(12, 37, 73, 1);
      text-align: center;
      @include max-xl {
        padding-top: 10px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &__form {
    @include max-md {
      margin: 0 calc(-0.5 * var(--bs-gutter-x));
    }
  }
}
