@import "../service/media-mixin.scss";

.p-news-detail {
  padding-bottom: 35px;
  @include max-lg {
    padding-bottom: 40px;
  }
  &__date-n-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    @include max-lg {
      margin-bottom: 5px;
    }
    &-dot {
    }
  }
  &__date {
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__tag {
    color: #4d9215;
  }

  &__title {
    margin: 0 -20px;
    margin-bottom: 40px;
    @include max-lg {
      margin: 0;
      margin-bottom: 20px;
    }
    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      @include max-lg {
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  &__top-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0%;
    @include max-lg {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__top-image {
    width: 100%;
    height: 524px;
    border-radius: 20px;
    overflow: hidden;
    @include max-lg {
      height: 320px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include max-lg {
      gap: 20px;
    }
    &-image {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-img {
        width: 100%;
        height: 483px;
        border-radius: 20px;
        overflow: hidden;
        @include max-lg {
          height: 320px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-source {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 13px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #7d7d7d;
        &-content {
          max-width: 400px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p,
    h2,
    h3 {
      margin-bottom: 0;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
      @include max-lg {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0%;
      @include max-lg {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }

    h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
      @include max-lg {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0%;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
      li {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        @include max-lg {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0%;
        }
      }
    }

    b {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__summary {
    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0%;
      margin-bottom: 10px;
      @include max-lg {
        font-size: 20px;
        line-height: 24px;
      }
    }
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0%;
      margin-bottom: 10px;
      @include max-lg {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__share {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: unset;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #4d9215;
    &-icon {
      width: 20px;
      height: 20px;
    }
    &-wrap {
    }
  }

  &__back-button-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .button {
      width: 228px;
      @include max-sm {
        width: 100%;
      }
    }
  }
}
