.p-news {
  padding-bottom: 30px;
  &__filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      @include max-md {
        gap: 10px;
      }
    }
    &-item {
      padding: 6px 20px 8px 20px;
      background-color: unset;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #000000;
      border: 1px solid#86B627;
      border-radius: 100px;
      &:hover {
        color: #4d9215;
      }
      @include max-md {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
      }
    }
    &-clear {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
      color: #4d9215;
      background-color: unset;
      &-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 46px;
    column-gap: 24px;
    @include max-xl {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-md {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid#869B474D;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    transition: all 0.3s ease;
    &-wrap {
      display: flex;
      align-items: flex-end;
      padding-bottom: 0;
      transition: all 0.3s ease;
      &:hover {
        @include max-md {
          padding-bottom: 0;
        }
        .p-news__card {
          transform: translateY(-20px);
          box-shadow: 0 35px 42px -8px rgba(12, 12, 13, 0.4);
          @include max-md {
            transform: translateY(0);
          }
        }
        .p-news__card-info {
          background-color: #d1f349;
          @include max-md {
            background-color: #fff;
          }
        }
      }
    }
    &-image {
      height: 245px;
      @include max-md {
        height: 300px;
      }
      @include max-sm {
        height: 162px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      padding: 24px;
      padding-top: 12px;
      height: 128px;
      background-color: #fff;
      @include max-md {
        padding: 10px 18px 24px 18px;
        height: auto;
      }
    }
    &-top {
      display: flex;
      gap: 10px;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
      margin-bottom: 12px;
      @include max-md {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &-date {
      flex-shrink: 0;
    }
    &-dot {
    }
    &-tags {
      color: #4d9215;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }
    &-name {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0%;
      text-transform: uppercase;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* количество строк */
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include max-md {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
