.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 115px;
  padding: 12px 0;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  backdrop-filter: blur(62.79999923706055px);
  color: var(--color-dark-blue);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    &-image {
      padding: 16px 10px 24px 0;
      img {
        width: 51px;
        height: 51px;
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0%;
      }
      &-description {
        font-weight: 200;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      &--dropdown {
        a {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
    &-link {
      width: 155px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      &-icon {
        width: 14px;
        height: 14px;
      }
      &-text {
      }
    }
  }

  &__submenu {
    &-item {
    }
    &-link {
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 232px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    &-email {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 38px;
      padding: 8px;
      padding-top: 6px;
      &-icon {
        width: 24px;
        height: 24px;
      }
      &-text {
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 38px;
      padding: 8px;
      padding-top: 6px;
      &-wrapper {
      }
      &-icon {
        width: 20px;
        height: 20px;
      }
      &-content {
        display: flex;
        align-items: center;
        &-text {
        }
        &-icon {
          width: 14px;
          height: 14px;
        }
      }
      &-dropdown {
        display: none;
        &-item {
        }
        &-link {
        }
      }
    }
  }
  &-work-time {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
  }
  &__button {
    .button {
      width: 228px;
    }
  }

  .button {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 12px 24px;
    padding-bottom: 14px;
    border-radius: 100px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    color: #d1f349;
  }
}
