.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 115px;
  padding: 12px 0;
  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  backdrop-filter: blur(62.79999923706055px);
  color: var(--color-dark-blue);
  &--pages {
    background: #fff;
    border-bottom: 1px solid #869b474d;
  }
  @include max-lg {
    height: 82px;
    padding: 17px 0;
  }
  &--mobile-menu-opened {
    background: #fff;
    border-bottom: 1px solid #869b474d;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max-md {
      padding: 0;
    }
  }
  &__burger {
    display: none;
    @include max-md {
      display: block;
      background: #0c25491f;
      color: var(--color-dark-blue);
      padding: 18px 21px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      line-height: 0;
    }
    &--active {
      padding: 12px 18px;
      .header__burger-icon {
        display: none;
      }
      .header__burger-close-icon {
        display: block;
      }
    }
    &-icon {
      display: block;
      width: 18px;
      height: 12px;
    }
    &-close-icon {
      display: none;
      width: 24px;
      height: 24px;
    }
  }
  &__logo {
    @include max-md {
      flex: 1;
      margin-left: 22px;
    }
    .logo__image {
      padding: 23px 8px 24px 9px;
      img {
        width: 44px;
        height: 44px;
      }
      @include max-lg {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 36px;
    @media (max-width: 1459.98px) {
      gap: 16px;
    }
    @include max-xl {
      display: none;
    }
  }

  &__work-time {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
    @include max-xxl {
      display: none;
    }
  }
  &__button {
    .button {
      @include max-md {
        display: none;
      }
    }

    &-mobile {
      display: none;
      @include max-md {
        display: block;
        background-color: var(--color-dark-blue);
        padding: 14px 20px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        line-height: 0;
      }
      &-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__mobile-overlay {
    display: none;
    @include max-md {
      display: block;
      position: fixed;
      top: 82px;
      left: 0;
      width: 100%;
      height: 100svh;

      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      background: linear-gradient(
        174.68deg,
        rgba(0, 0, 0, 0.06) 22.7%,
        rgba(0, 0, 0, 0) 159%
      );
      filter: drop-shadow(0px -1px 18.1px rgba(0, 0, 0, 0.25));
      backdrop-filter: blur(1.3px);

      &--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__mobile-menu {
    display: none;
    @include max-md {
      position: fixed;
      top: 82px;
      left: 0;
      width: 80%;
      max-width: 320px;
      border-bottom-right-radius: 20px;
      height: auto;
      background: rgba(255, 255, 255, 0.98);
      backdrop-filter: blur(20px);
      z-index: 1001;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
    &--active {
      transform: translateX(0);
    }
    &-close {
      align-self: flex-end;
      background-color: #b2b5bd;
      color: var(--color-dark-blue);
      padding: 10px;
      padding-right: 16px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      line-height: 0;
      margin: 12px 12px 0 0;
      border: none;
      cursor: pointer;
      &-icon {
        width: 16px;
        height: 16px;
      }
    }
    &-content {
      flex: 1;
      padding: 20px;
      padding-top: 10px;
      padding-bottom: 37px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__mobile-contacts {
    margin-top: auto;
    &-email {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-top: 6px;
      padding-bottom: 8px;
      color: var(--color-dark-blue);
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      &-icon {
        width: 20px;
        height: 20px;
      }
      &-text {
        word-break: break-all;
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 0;
      color: var(--color-dark-blue);
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      &-icon {
        width: 20px;
        height: 20px;
      }
    }
    .c-contacts__phone {
      padding: 0;
      padding-top: 6px;
      padding-bottom: 8px;
    }
    &-phone-wrapper {
      margin-bottom: 12px;
    }
  }

  .c-mobile-menu-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .c-mobile-menu-link {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  .c-mobile-submenu-link {
    padding-left: 0;
  }
  .c-mobile-menu-item {
    margin-bottom: 0;
  }
  &__mobile-work-time {
    color: var(--color-dark-blue);
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  &__mobile-button {
    width: 100%;
  }
}
