extends ../layout/app
block title
  | Новости
block styles
  link(rel="stylesheet", href="./css/blocks/our-products.min.css")
  link(rel="stylesheet", href="./css/blocks/consult.min.css")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css")
block script
  script(src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js")
  script(src="./js/catalog-slider.js")
block page
    include ../chunk/header
    main
        div(style="background-image: url('./img/about-background.webp')").page.page--with-bg
            .container.c-container
                .row
                    .col-12
                        +breadcrumbs(["Главная","Каталог","Волжанин"])
            .p-catalog-detail-1
                .p-catalog-detail-1__top
                    .container.c-container
                        .p-catalog-detail-1__top-row.row
                            .col-12.col-lg-5.col-xl-5.col-xxl-4
                                .p-catalog-detail-1__card
                                    .p-catalog-detail-1__card-title
                                        h1 Волжанин
                                    .p-catalog-detail-1__card-props
                                        .p-catalog-detail-1__card-props-col
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Сорт
                                                .p-catalog-detail-1__card-prop-value
                                                    span среднеспелый
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Вегетационный период
                                                .p-catalog-detail-1__card-prop-value
                                                    span 71-101 день
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Белка в зерне
                                                .p-catalog-detail-1__card-prop-value
                                                    span до 30,9%
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Масса 1000 зерен
                                                .p-catalog-detail-1__card-prop-value
                                                    span 312 грамм
                                            .p-catalog-detail-1__card-prop.p-catalog-detail-1__card--itog
                                                .p-catalog-detail-1__card-prop-name
                                                    span В наличии тонн:
                                                .p-catalog-detail-1__card-prop-value
                                                    span 10 598
                                        .p-catalog-detail-1__card-props-col
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Форма
                                                .p-catalog-detail-1__card-prop-value
                                                    span Кустовая
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Высота стебля
                                                .p-catalog-detail-1__card-prop-value
                                                    span 0,5-0,6м
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Семян в бобе
                                                .p-catalog-detail-1__card-prop-value
                                                    span 1-2 шт
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Выход зерна
                                                .p-catalog-detail-1__card-prop-value
                                                    span 82-85%
                                            .p-catalog-detail-1__card-prop
                                                .p-catalog-detail-1__card-prop-name
                                                    span Репродукция
                                                .p-catalog-detail-1__card-prop-value
                                                    span Вторая
                                    .p-catalog-detail-1__card-info
                                        span Цена с НДС:  уточнять у сотрудников
                            .col-12.col-lg-7.col-xl-7.col-xxl-8
                                .swiper.catalog-detail__slider
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="./img/p-catalog-detail-image.png", alt="")
                                        .swiper-slide
                                            img(src="./img/p-catalog-detail-image.png", alt="")
                                        .swiper-slide
                                            img(src="./img/p-catalog-detail-image.png", alt="")
                                    .catalog-detail__slider-controls
                                        .catalog-detail__slider-arrows
                                            .catalog-detail__slider-arrow.catalog-detail__slider-arrow--prev
                                                +icon("button-arrow", "catalog-detail__slider-arrow-icon")
                                            .catalog-detail__slider-arrow.catalog-detail__slider-arrow--next
                                                +icon("button-arrow", "catalog-detail__slider-arrow-icon")
                                        .catalog-detail__slider-pagination
                                            .swiper-pagination
                .p-catalog-detail-1__bottom
                    .container.c-container
                        .row.justify-content-center.p-catalog-detail-1__bottom-row
                            .col-12.col-xl-7.col-xxl-8
                                .p-catalog-detail-1__content
                                    .p-catalog-detail-1__content-title
                                        h2 описание сорта
                                    .p-catalog-detail-1__content-description
                                        p Мировой рынок предъявляет свои требования к крупности зерна. Чем крупнее нут, тем выше цена. Волжанин –  новый крупносемянный сорт нута, был выведен методом индивидуального отбора из гибридной популяции, полученной от скрещивания сорта Волгоградский 10 с образцом из Сирии. Районирован в 2011г. Растения кустовой формы, высота стебля составляет 0,5-0,6м, прикрепление нижних бобов на 20-50мм выше стандарта. Цветки белые. Семена с кремовой окраской, форма от округлой до угловатой, ребристость отсутствует или очень слабая, семян в бобе 1-2.
                                        p Главным отличием нового сорта Волжанин  это показатель массы 1000 зерен (312 грамм) в среднем, на 40-50 грамм больше, чем у Приво 1. Выход зерна с решета 7мм составляет 82-85%.
                                        p Этот сорт относится к группе среднеспелых сортов, созревает на 3-4 суток позднее стандарта Волгоградский 10. 
                                        p Вегетационный период составляет 71-101 день. По устойчивости к засухе сорт Волжанин несколько уступает стандартным сортам нута, для формирования высокого урожая ему требуется более высокая обеспеченность растений влагой, особенно в период цветения и налива. Оригинатор и патентообладатель: Балашов Василий Васильевич (г. Волгоград).
                            .col-12.col-md-6.col-xl-5.col-xxl-4
                                .p-catalog-detail-1__form
                                    .c-form
                                        .c-form__block
                                            .c-form__title
                                                span Свяжемся с вами <br>как можно скорее
                                            form.c-form__form
                                                input(type="text", placeholder="Ваше имя", class="c-input")
                                                input(type="phone", placeholder="Телефон для связи*", class="c-input c-phone-input")
                                                .c-check-confirm
                                                    label.c-checkbox-wrap
                                                        input(type="checkbox", name="")
                                                        span.c-checkbox
                                                            +icon("c-check", "c-checkbox-icon")
                                                    .c-check-confirm-text
                                                        span Я соглашаюсь на обработку
                                                        a(href="#") персональных данных
                                                .c-form__button
                                                    button(type="submit").button Заказать звонок
                                        .c-form__required 
                                            span *
                                            span — обязательные поля для заполнения
    include ../chunk/footer