extends ../layout/app
block title
  | Новости
block styles
  link(rel="stylesheet", href="./css/blocks/our-products.min.css")
block page
    include ../chunk/header
    main(style="background-image: url('./img/our-products-background.png')").page.page--with-bg.page--with-bg--03
        .container.c-container
            .row
                .col-12
                    +breadcrumbs(["Главная","Каталог"])
                .col-12
                    .page__title
                        h1 Продукция
        .p-catalog
            .container.c-container
                .row
                    .col-12.col-lg-8
                        .p-catalog__description
                            p Мы специализируемся на собственном производстве семян нута, учитывая особенности климата и почвы каждого региона, чтобы обеспечить максимальную урожайность. Все семена проходят строгий контроль автора сортов и имеют полный пакет сертификатов соответствия.
                .our-products__cards
                    .row
                        .col-12.col-md-4.our-products__card-wrap
                            a(href="#").our-products__card
                                .our-products__card-image
                                    img(src="./img/our-products-1.png", alt="")
                                .our-products__card-button
                                    .our-products__card-button-title
                                        span ВОЛЖАНИН
                                    .our-products__card-button-arrow
                                        +icon("button-arrow", "our-products__card-button-arrow-icon")
                        .col-12.col-md-4.our-products__card-wrap
                            a(href="#").our-products__card
                                .our-products__card-image
                                    img(src="./img/our-products-2.png", alt="")
                                .our-products__card-button
                                    .our-products__card-button-title
                                        span ВОЛЖАНИН 50
                                    .our-products__card-button-arrow
                                        +icon("button-arrow", "our-products__card-button-arrow-icon")
                        .col-12.col-md-4.our-products__card-wrap
                            a(href="#").our-products__card
                                .our-products__card-image
                                    img(src="./img/our-products-3.png", alt="")
                                .our-products__card-button
                                    .our-products__card-button-title
                                        span Прочие сельхоз <br>культуры и продукция
                                    .our-products__card-button-arrow
                                        +icon("button-arrow", "our-products__card-button-arrow-icon")
                   
    include ../chunk/footer