extends ../layout/app
block styles
  link(rel="stylesheet", href="./css/blocks/main-banner.min.css")
  link(rel="stylesheet", href="./css/blocks/advantages.min.css")
  link(rel="stylesheet", href="./css/blocks/our-products.min.css")
  link(rel="stylesheet", href="./css/blocks/about.min.css")
  link(rel="stylesheet", href="./css/blocks/consult.min.css")
block script
  script(src="js/mainBanner.js")
block page
  include ../chunk/header
  main
    include ../blocks/main-banner
    include ../blocks/advantages
    include ../blocks/our-products
    include ../blocks/about
    include ../blocks/consult
  include ../chunk/footer