extends ../layout/app
block title
  | Детальная страница новостей
block page
    include ../chunk/header
    main.page
        .container.c-container
            .row
                .col-12
                    +breadcrumbs(["Главная","Новости","Семена нута Волжанин 50"])
        .p-news-detail
            .container.c-container
                .row.justify-content-center
                    .col-12.col-lg-10.col-xl-8
                        .p-news-detail__date-n-tags
                            .p-news-detail__date
                                span 28 ноября
                            .p-news-detail__date-n-tags-dot
                                span •
                            .p-news-detail__tags
                                .p-news-detail__tag
                                    span Название тега новости
                        .p-news-detail__title
                            h1 Семена нута Волжанин 50: характеристики, преимущества и экономическая эффективность выращивания
                        .p-news-detail__block
                            .p-news-detail__top-text
                                p Семена нута Волжанин-50 — это перспективный, высокотехнологичный сорт, хорошо адаптированный к климатическим условиям южных, центральных и восточных регионов России. Компания ООО «Щелканинвест» занимается профессиональным производством сертифицированных семян, обеспечивая хозяйствам стабильные показатели урожайности, высокую всхожесть и чистоту посевного материала.
                            .p-news-detail__top-image
                                img(src="./img/news-detail.png", alt="")
                            .p-news-detail__content
                                p Волжанин-50 востребован среди фермерских хозяйств благодаря устойчивости к засухе, выравненному созреванию и высокой окупаемости производства. Сорт оптимально адаптирован под современные требования к рентабельному растениеводству, что делает его выгодным выбором как для небольших фермеров, так и для крупных агрохолдингов.
                                h2 Ботанические и биологические характеристики сорта
                                p Волжанин-50 относится к типу крупносемянных нутов, предназначенных преимущественно для продовольственного и перерабатывающего сегмента рынка. Основные характеристики сорта:
                                ul.ul-dot
                                    li 
                                        p Тип растения: кустовой, среднерослый, с устойчивым стеблем;
                                    li 
                                        p Период вегетации: 85–110 дней (зависит от региона и условий);
                                    li 
                                       p Тип семян: крупные, округлые, бежевого оттенка;
                                    li 
                                        p Масса 1000 семян: 280–380 г;
                                    li 
                                        p Содержание белка: 19–23 %;
                                    li 
                                        p Высота боба над землей: оптимальная для механизированной уборки;
                                    li 
                                        p Корневая система: мощный стержневой корень до 1,5 м, обеспечивающий высокую засухоустойчивость.
                                p Сорт демонстрирует высокую энергию прорастания и дружные всходы даже при недостаточном увлажнении, что снижает риски неравномерности растений в засушливые годы.
                                h2 Адаптация к климату и стрессоустойчивость
                                p Одно из ключевых преимуществ Волжанина-50 — устойчивость к жестким климатическим факторам. За счет глубокой корневой системы и умеренного листового аппарата сорт способен выдерживать длительные периоды отсутствия осадков без существенной потери урожайности.
                                h3 Основные стрессоустойчивые свойства:
                                ul.ul-leaf
                                    li 
                                        p <b>Засухоустойчивость:</b> высокая — растение сохраняет тургор при длительном дефиците влаги;
                                    li 
                                        p <b>Жаростойкость:</b> стабильное завязывание боба при температурах выше +30…+35 °C;
                                    li 
                                        p <b>Устойчивость к полеганию:</b> стебель плотный, не ломается при сильных ветрах;
                                    li 
                                        p <b>Устойчивость к болезням:</b> хорошая резистентность к аскохитозу, корневым гнилям, фузариозу.
                                p Эти характеристики делают Волжанин-50 надежным сортом для регионов с нестабильными осадками и континентальным климатом.
                            .p-news-detail__block-image
                                .p-news-detail__block-image-img
                                    img(src="./img/news-detail-img.png", alt="")
                                .p-news-detail__block-image-source
                                    .p-news-detail__block-image-source-name
                                        span Источник:
                                    .p-news-detail__block-image-source-content
                                        span кадр из фильма «Люди земли» Щеканинвест
                            .p-news-detail__summary
                                h2 Итог
                                p Семена нута Волжанин-50 от ООО «Щелканинвест» представляют собой надежный, технологичный и экономически выгодный сорт для современных хозяйств. Он сочетает высокую урожайность, устойчивость к засухе, устойчивость к заболеваниям и отличные товарные характеристики. Качественная подготовка семенного фонда компанией «Щелканинвест» обеспечивает уверенный старт и стабильный результат в любой сезон.
                            .p-news-detail__share-wrap
                                button.p-news-detail__share
                                    +icon("share-icon", "p-news-detail__share-icon")
                                    span Поделиться
                        .p-news-detail__back-button-wrap
                            a(href="./news.html").button К новостям
    include ../chunk/footer