@import "../service/media-mixin.scss";

.about {
  position: relative;
  padding-top: 129px;
  background-position: center;
  overflow: hidden;
  @include max-lg {
    padding-top: 30px;
  }
  @include max-md {
    padding-top: 72px;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffffb2;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 24px;
    @include max-md {
      gap: 14px;
    }
  }
  &__title {
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      @include max-md {
        font-size: 24px;
        line-height: 24px;
      }
    }
    b {
      font-weight: 700;
      color: #4d9215;
    }
  }
  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    @include max-md {
      font-size: 14px;
      line-height: 18px;
    }
    p {
      margin-bottom: 16px;
      @include max-md {
        margin-bottom: 8px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__image {
    position: relative;
    max-width: 684px;
    height: 377px;
    display: flex;
    align-items: flex-end;
    @include max-md {
      max-width: unset;
      width: calc(100% + calc(var(--bs-gutter-x) * 1));
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);
    }
    &-block {
      position: absolute;
      z-index: 2;
      bottom: 0;
      width: 100%;
      height: 39px;
      background-color: #436b22;
      @include max-md {
        height: 31px;
      }
    }
    &-content {
      position: relative;
      z-index: 1;
      height: 100%;
      border-radius: 40px 40px 0 0;
      overflow: hidden;
      @include max-md {
        border-radius: 21.11px 21.11px 0 0;
      }
    }
  }
  &__leaf {
    &-1 {
      position: absolute;
      bottom: 0;
      right: -58%;
      @include max-md {
        width: 212px;
        bottom: 85%;
        right: -34%;
      }
    }
    &-2 {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      @include max-md {
        width: 301px;
        left: -100px;
      }
    }
  }
  &__link {
    display: flex;
  }
}
