@import "../service/media-mixin.scss";

.consult {
  padding-top: 114px;
  padding-bottom: 129px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include max-sm {
    padding-top: 42px;
    padding-bottom: 104px;
    background-size: 900%;
  }
  &__title {
    color: #fff;
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      @include max-sm {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  &__form {
    margin-top: 42px;
  }
  &__inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 27px;
    @include max-lg {
      flex-direction: column;
      align-items: center;
    }
    @include max-sm {
      gap: 15px;
      margin-bottom: 22px;
    }
    .c-input {
      @include max-sm {
        width: 100%;
      }
    }
  }
  &__input {
  }
  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 37px;
    @include max-sm {
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 19px;
      .c-checkbox {
        margin-top: 3px;
      }
    }
    &-text {
      display: flex;
      gap: 8px;
      color: #fff;
      @include max-sm {
        flex-direction: column;
        gap: 0;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        @include max-sm {
          font-size: 14px;
        }
      }
      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #d1f349;
        @include max-sm {
          font-size: 14px;
        }
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    @include max-sm {
      .button {
        width: 100%;
      }
    }
  }
}
