@import "../service/media-mixin.scss";

.consult {
  padding-top: 114px;
  padding-bottom: 129px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include max-sm {
    padding-top: 42px;
    padding-bottom: 104px;
    background-size: 900%;
  }
  &__title {
    color: #fff;
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      @include max-sm {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
  &__form {
    margin-top: 42px;
  }
  &__inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 27px;
    @include max-lg {
      flex-direction: column;
      align-items: center;
    }
    @include max-sm {
      gap: 15px;
      margin-bottom: 22px;
    }
    .c-input {
      @include max-sm {
        width: 100%;
      }
    }
  }
  &__input {
  }
  &__button {
    display: flex;
    justify-content: center;
    @include max-sm {
      .button {
        width: 100%;
      }
    }
  }
}
