@import "../service/media-mixin.scss";

.our-products {
  position: relative;
  &__triangle {
  }
  &__title {
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
    }
  }
  &__cards {
    padding-top: 75px;
    padding-bottom: 64px;
    @include max-md {
      padding-top: 41px;
      padding-bottom: 56px;
      .row {
        gap: 20px;
      }
    }
  }
  &__card {
    height: 373px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #00000040;
    border-radius: 20px;
    transition: all 0.3s ease;
    &-wrap:hover {
      @include lg {
        .our-products__card {
          transform: translateY(-49px);
          box-shadow: 0 35px 42px -8px rgba(12, 12, 13, 0.4);
          .our-products__card-button {
            text-align: left;
            background-color: #d1f349;
          }
          .our-products__card-button-arrow {
            display: block;
            opacity: 1;
            transform: translateY(-50%) translateX(0);
          }
          .our-products__card-button-title {
            justify-content: flex-start;
            width: auto;
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
            opacity: 0;
            transform: translateX(0);
            animation: none;
            animation: fadeSlideInButton 0.4s ease 0.05s forwards;
          }
        }
      }
    }
    @include max-xl {
      height: 300px;
    }
    @include max-md {
      height: auto;
    }
    &-image {
      flex: 1;
      height: 260px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-button {
      position: relative;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 24px;
      background-color: #fff;
      min-height: 90px;
      overflow: hidden;
      border-top: 1px solid #00000040;
      @include max-md {
        min-height: auto;
      }
      &-title {
        opacity: 1;
        transform: translateX(0);
        font-weight: 500;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: 0%;
        text-transform: uppercase;
        transition: left 0.3s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        @include max-xl {
          font-size: 16px;
          line-height: 16px;
        }
      }
      &-arrow {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) translateX(30px);
        width: 40px;
        height: 40px;
        padding: 8px;
        border-radius: 100px;
        background-color: #000;
        color: #d1f349;
        line-height: 0;
        opacity: 0;
        transition: transform 0.35s ease, opacity 0.35s ease;
      }
    }
  }
  &__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes fadeSlideInButton {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(30px);
  }
}
